* {
  padding: 0;
  margin: 0;
  font-family: "vidaloka", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

.container {
  max-width: 1080px;
  width: 100%;
  margin: auto;
}

.nav-bar {
  height: 70px;
  background: #ffffff;
  position: fixed;
  width: 100%;
  width: 100%;
  margin-bottom: 15%;
  z-index: 999;
}

li {
  list-style-type: none;
}

.logo.h4 {
  padding-left: 3em;
}

.jumbotron-content {
  padding-top: 250px;
  color: #fff;
}
.jumbotron-content h2{
  color: #fff; text-decoration: none;
}

.jumbotron {
  background-color: #216583;
  height: 609px;
  clear: both;
  position: relative;
  background-image: url(../img/homepage/bullet.svg);
}

.jumbotron h2 {
  font-size: 42px;
  max-width: 13em;
  margin: auto;
  line-height: 45px;
  height: 80px;
  font-weight: 500;
}

.jumbotron h2 {
  text-align: center;
}


.jumbotron p {
  font-size: 14px;
  max-width: 39em;
  margin: auto;
  line-height: 25px;
  text-align: center;
}

.join {
  text-decoration: none;
  color: #fff;
  padding: 18px 42px;
  border-radius: 25px;
  border: 1px solid #FFFFFF;
  position: relative;
  left: 40%;
}

.row {
  width: 100%;
  clear: both;
}

.col-3 {
  width: 16.6%;
  float: left;
  padding: 12px;
  box-sizing: border-box;
  overflow: hidden;
}

.thumb {
  width: 100%;
}

.col-2 {
  width: 50%;
  float: left;
  padding: 12px;
  box-sizing: border-box;
  overflow: hidden;
}

h3 {
  float: center;
}

h1,
h2 {
  font-weight: 500;
  font-family: vidaloka;
}

.populer form {
  margin: auto;
}

.tombol a {
  padding: 0px 30px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid black;
  padding-top: 2%;
}

#two {
  margin-top: 180px;
  margin-left: 10%;
}

#two h1 {
  font-size: 24px;
  line-height: 35px;
  max-width: 231px;
  font-weight: 500;
}

#tri {
  margin-left: 10%;
}

#two p {
  margin-top: 45px;
  text-align: left;
  line-height: 32px;
  max-width: 450px;
  color: #888888;
}

#tri img {
  margin-top: 215px;
}

#tri #text {
  margin-top: 300px;
  margin-left: 10%;
}

#text p {
  font-size: 14px;
  color: #888888;
  margin-top: 50px;
  line-height: 32px;
  max-width: 302px;
}

#text h1 {
  font-family: vidaloka, sans-serif;
  font-size: 24px;
  max-width: 267px;
  color: #666666;
  line-height: 35px;
}

.workingspace {
  background-image: url(../img/homepage/jumbotron-bg.png);
  height: 628px;
  margin-top: 80%;
  background-size: cover;
}

.col-4 {
  width: 30%;
  float: left;
  padding: 0px;
  box-sizing: border-box;
  
}

#four {
  margin-top: 20em;
}

.workingspace .box li #shring {
  position: relative;
  left: 37%;
  margin-top: -9px;
}


.box img {
  width: 62px;
}

.box h2 {
  color: #666666;
  font-size: 16px;
  line-height: 20px;
  width: 150px;
}

.box p {
  color: #666666;
  line-height: 20px;
  font-size: 10px;
  width: 250px;
  padding-top: 8px;
}

.box {
  position: relative;
  display: inline;
  background-color: #FFFFFF;
  float: left;
  height: 270px;
  margin-top: 50%;
  border-radius: 16px;
  box-shadow: 0px 5px 15px #888888;
  width: 85%;
  left: 5%;
}

.box li {
  float: left!important;
  margin-top: 5%;
  padding-left: 14%; 
  
}

.workingspace .box li img{
  display: inline-block!important;
}
  .books {
  text-align: center;
}

.books h2 {
  font-size: 20px;
  color: #9F9C9C;
}

.books p {
  line-height: 30px;
  font-size: 14px;
  max-width: 570px;
  margin: 0 auto;
  color: #888888;
}

#find:hover {
  color: #216583;
  border: 2px solid #216583;
  background: #fff;
}

.books a {
  background-color: #216583;
  color: #fff;
  padding: 18px 42px;
  border-radius: 25px;
  border: 1px solid #216583;
  margin-top: 2em;
}

a {
  text-decoration: none;
}
.workingspace .box li #shring img{
  position: relative; right:-1%!important;
  width: 55px;
}

/*footer*/
footer {
  background-color: #1C6A7E;
  color: #fff;
  height: 350px;

}

#five {
  padding-top: 5em;
}

.list {
  max-width: 320px;
  line-height: 25px;
}
.list p{
  font-size: 14px;
}

#navigasi li {
  list-style-type: none;
  max-width: 8%;
  line-height: 2em;
  margin-left: 27em;
  margin-top: -7em;
  color: #fff;
}

#sport{
  list-style-type: none;
  max-width: 6%;
  line-height: 2em;
  margin-left: 39em;
  margin-top: -8em;
}

footer a, footer p {
  color: #fff;
   font-family: vidaloka, sans-serif;
  
}
#contact{max-width:15%; 
  list-style-type: none;
   line-height: 2em;
    margin-left: 51em;
     margin-top: -8em;}
.container {
  max-width: 1080px;
  margin: auto;
}


.center-content {
  display: flex;
  justify-content: center;    
  width: 100%;
}
.center-content * {
  left: unset !important;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 900px!important;
    margin: 0;
  }

  .nav-container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .list {
    position: relative;
    left: 1%;
  }

  #two {
    margin-top: 120px;
  }

  .thumb p {
    margin-top: 3% !important;
    font-size: 14px;
    line-height: 10px;
  }

  #boy {
    width: 100%;
  }

  #text {
    margin-top: 250px !important;
  }

  .workingspace {
    /*background-image: url(../img/homepage/jumbotron-bg.png);*/
    height: 628px;
    margin-top: 80%;
    background-size: cover;
  }

  .box {
    
    background-color: #FFFFFF;
    float: left;
    height: 270px;
    margin-top: 540px;
    border-radius: 16px;
    box-shadow: 0px 5px 15px #888888;
    position: relative;
    left: 8em;
    width: 85%;
  }
    .box li{
      float: left!important;
    }
  #four {
    margin-top: 17em;
    margin-left: 2em!important;
    margin-right: auto!important;
    width: 100%;
  }

  
  
  #find:hover {
    background-color: #fff;
    color: #216583;
    padding: 18px 42px;
  }

     .workingspace .box li #shring{
    position: relative;
    left: 61%!important;
    margin-top: -170px!important;
  }
    
  .workingspace .box li {
    width: 50% !important;
    margin-top: unset !important;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    float: right!important;
  }
  .workingspace .box li #grup p, .workingspace .box li #shring p {
    width: 60% !important;
    padding-top: 8px !important;
    font-size: 10px;
    line-height: 15px;
    text-align: left;
  }
   .workingspace .box li #grup p {
    padding-top: 7px!important;
}
.workingspace .box li #grup h2 {
    padding-top: 20px!important;
}
  .workingspace .box li #grup, .workingspace .box li #shring {
    margin-top: unset !important;
    left: unset !important;
    clear: both;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: unset !important;
    width: 70%;
    margin-left: 50px;

  }
  .workingspace .box li #grup h2, .workingspace .box li #shring h2 {
    float: none;
    max-width: 250px;
    padding-top: 10px;
    line-height: 15px;
    text-align: left;
  }
  .workingspace .box li #shring img , .workingspace .box li #grup img{
  position: relative; right: 18%!important;
  width: 55px;
}
{
  position: relative; left: 5%;
  width: 55px;
}
  .jumbotron-content {
  padding-top: 250px;
  color: #fff;
  margin-left: auto!important;
  margin-right: auto!important;
  width: 100%;
}

   
  
}
@media screen and (max-width: 980px) {
  .container {
    max-width: 768px!important;
    margin: 0;
  }
  .jumbotron-content {
  padding-top: 250px;
  color: #fff;
  margin-left: 6em!important;
  
}
  .box{
    margin-top: 70%!important;
    width: 100%!important;
    position: relative!important;
    left: 13%!important;
  }
  .workingspace .box li #shring {
  position: relative;
  left:2%;
  margin-top: -2%!important;
  }
  .workingspace .box li #shring p, .workingspace .box li #grup p{
    width: 180px!important;
  }
  .workingspace .box li #shring h2, .workingspace .box li #grup h2{
    padding-top: 7px!important; padding-right: 30px;
  }
  .workingspace .box li #shring img, .workingspace .box li #grup img{
    padding-left: 30px;
  }
  .workingspace .box li #grup h2{
    left: 1%; position: relative;
  }
  .workingspace .box li #shring h2{
    padding-top: 15px!important;
  }
  .workingspace .box li #grup{
    margin-top: unset !important;
    left: unset !important;
    clear: both;
    padding-top: 30px!important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: unset !important;
    width: 70%;
    margin-left: 50px;

  }
  #four {
    margin-top: 17em;
    margin-left: 6em!important;
    margin-right: auto!important;
    width: 100%;
  }





}
@media screen and (max-width: 768px) {
  .container {
    max-width: 600px !important;
  }
  
}
/*hp*/
@media screen and (max-width: 420px) {
  .container{
    max-width: 300px!important;
  }
  .jumbotron h2 {
  font-size: 28px;
  max-width: 13em;
  margin: auto; margin-top: -30px;
  line-height: 45px;
  font-weight: 500;
}
  .jumbotron {
  background-color: #216583;
  height: 609px;
  clear: both;
  position: relative;
  background-image: url(../img/homepage/bullet.svg);
}
.join{
  margin-top: -50px;
}

    
}
/**
Footer responsive 
**/

/*fot 1024*/
@media screen and (max-width: 1024px) {
  footer {
    height: 300px;
  }

  footer .container {
    max-width: 900px;
    margin: 0 auto;
  }

  #navigasi li {
    max-width: 4% !important;
    line-height: 2em;
    margin-left: 25em !important;
    margin-top: -7em;
    color: #fff;
  }

  #sport {
    list-style-type: none;
    max-width: 6%;
    line-height: 2em;
    margin-left: 35em !important;
    margin-top: -8em;
  }

  #contact {
    margin-left: 43em !important;
    margin-top: -8em !important;
    max-width: 30% !important;
  }

  #contact a p {
    font-size: 13px;
  }
  
}
/*fot 980*/
@media screen and (max-width: 980px) {
  footer .container {
    max-width: 768px;
    margin: 0 auto;
  }
   #contact {
    margin-left: 40em !important;
    margin-top: -8em !important;
    max-width: 30% !important;
  }
  #contact a p {
    font-size: 13px;
  }
  .list p {
    font-size: 12px;
  }
   footer #five .list {
     max-width: 280px!important;
    overflow: hidden;
    right: 10% !important;
    position: relative !important;
    float: left; 
  
    max-width: 100%;
  }
  #navigasi li {
    max-width: 4% !important;
    line-height: 2em;
    margin-left: 22em !important;
    margin-top: 3em;
    color: #fff;
  }

  #sport {
    list-style-type: none;
    max-width: 6%;
    line-height: 2em;
    margin-left: 30em !important;
    margin-top: -8em;
  }

  #contact {
    margin-left: 37em !important;
    margin-top: -8em !important;
    max-width: 30% !important;
  }
  footer #five a p{
    font-size: 10px!important;
  }
  
}
/*fot 768*/
@media screen and (max-width: 768px) {
  .nav-bar nav {
    padding: 0 0 15px !important;
  }
  .nav-bar nav .nav-list {
    margin-top: 45px;
  }
  .nav-bar .brand {
    padding-top: 10px;
  }

  #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    height: 3px !important;
    width: 30px !important;
  }

  footer {
    height: unset !important;
    overflow: hidden;
    clear: both;
    padding: 50px 0;
  }
  footer #five {
    position: unset;
    clear: both;
    overflow: hidden;
    padding-top: unset;
  }
  footer #five .list{
   
  }
  footer #five #navigasi{
    margin-top: 5%;
  }
  footer #five #navigasi li {
    padding-top: 20px;
    width: 10% !important;
    margin-left: 8% !important;
    max-width: unset !important;
    display: block;
    margin-top: unset !important;
  }
  footer #five #navigasi li a {
    width: 100% !important;
    display: block;
  }
  footer #five #sport {
    padding-top: 20px;
    max-width: 100px !important;
    margin-left: 62%!important;
    margin-top: -25% !important;
  }
  footer #five #sport a {
    width: 100% !important;
    display: block;
  }
  footer #five #contact {
    width: 100%;
    margin-top: -24% !important;
    max-width: unset !important;
    margin-left: 75% !important;
    padding-top: 15px;
    float: left;
  }
  footer #five #contact li{
    width: 30%;
  }
  footer #five .list {
     max-width: 230px!important;
    overflow: hidden;
    left: unset !important;
    position: static !important;
    float: left;
    max-width: 100%;
  }
  footer #five #navigasi {
    width: 50% !important;
    float: left;
  }
  footer #five #sport {
    width: 50% !important;
    float: left;
  }
  
}
/*fot 420*/
@media screen and (max-width: 420px){
  footer .container{
    max-width: 304px!important;
    margin: 0 auto;
  }
   
   
  footer #five #navigasi{
    margin-top: unset !important;
  }
  footer #five #navigasi li {
    padding-top: 20px;
    width: 10% !important;
    margin-left: 158% !important;
    max-width: unset !important;
    display: block;
    margin-top: -150px !important;
  }
   footer #five #sport {
    padding-top: 20px;
    max-width: 100px !important;
    margin-left: 2%!important;
    margin-top: -1% !important;
  }
  footer #five #sport a {
    width: 100% !important;
    display: block;
  }
  footer #five #contact {
    width: 100%;
    margin-top: -48% !important;
    max-width: unset !important;
    margin-left: 35% !important;
    padding-top: px;
    float: left;
  }
  footer #five #contact li{
    width: 40%;
  }



}

/*ahir footer responsive*/

/*# sourceMappingURL=style.css.map */
