nav-bar {
  height: 70px;
  background: #ffffff;
   position: fixed;
  width:  100%;
  margin-bottom: 15%; z-index: 999;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}
 
.nav-container {
  max-width: 1080px;
  margin: 0 auto;
}
 
nav {
  float: right; 

  background-color: #ffffff; 
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative; 
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  color: #9A9A9A;
  text-decoration: none;
}
/*nav ul li a:hover,*/
/*nav ul li a:visited:hover {
  background: #2ab1ce;
  color: #ffffff;
}
*/
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: '';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
 
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); background-color: white; border-radius: 10px 10px 10px 10px; 
}
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: ;
  height: 50px;
  width: 50px;
}

@media only screen and (max-width: 798px) {

  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  padding-left: 25%;
   
  }
  nav ul li ul li a {
    padding-left: 30%;
  }
 
  .nav-dropdown {
    position: vertical;
  }
  .brand a img {
    max-height: 60px;
    margin-top: 5px;
  }
}
@media screen and (min-width: 799px) {

  .nav-list {
    display: block !important;
  }
}
  #nav-toggle {
    position: absolute;
    right: 58px;
    top: 22px;
    height: 40px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
  }
  /*ini juga*/
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 6px;
    width: 50px;
    background: #1C6A7E;
    position: absolute;
    display: block;
    content: ''; margin-right: 14%!important;
    transition: all 300ms ease-in-out;
  }
  #nav-toggle span:before {
    top: -10px;
  }
  #nav-toggle span:after {
    bottom: -10px;
  }
  #nav-toggle.active span {
    background-color: transparent;
  }
  #nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
  }
  #nav-toggle.active span:before {
    transform: rotate(45deg);
  }
  #nav-toggle.active span:after {
    transform: rotate(-45deg);
  }
 /*ahir hamburger*/
